* {
  box-sizing: border-box;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: monospace;
}

.title {
  font-size: 4em;
  margin-bottom: 0;
}

.footer {
  font-size: 1.1em;
  color: #727272;
  text-align: center;
}

.text {
  width: 80vw;
  height: 200px;
  max-width: 950px;
  resize: none;
  font-size: 2em;
}

.keyboard__keys {
  width: 80vw;
  max-width: 950px;
  background-color: #5e5e5e;
  position: relative;
  margin: auto;
  display: grid;
  padding: 20px;
  grid-template-rows: 60px 60px 60px 60px 60px;
  border-radius: 15px;
  transition: all .5s ease-in-out;
}

.keyboard__key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: 0 0 10px -5px black;
  background-color: #3e3e3e;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  line-height: 45px;
  position: relative;
  transition: all .2s ease-out;

  &.active,
  &:active {
    transform: scale(0.95);
    box-shadow: none;
    background-color: #57b84a;
  }
}

.keyboard__line {
  display: grid;
  grid-column-gap: 10px;
  margin: 9px 0 9px 0;

  &:nth-child(1) {
    grid-template-columns: 50px repeat(12, 50px) auto;
  }
  
  &:nth-child(2) {
    grid-template-columns: auto repeat(14, 50px) ;
  }
  
  &:nth-child(3) {
    grid-template-columns: 100px repeat(11, 50px) auto;
  }
  
  &:nth-child(4) {
    grid-template-columns: 140px repeat(10, 50px) auto;
  }
  
  &:nth-child(5) {
    position: relative;
    grid-template-columns: repeat(3, 65px) auto 65px 65px repeat(3, 50px);
  }
}

#backspace {
  font-size: 0.7em;
}

#capslock,
#tab,
#delete,
#enter,
#shiftleft,
#shiftright,
#controlleft,
#controlright,
#metaleft,
#altleft,
#altright {
  font-size: 0.8em;
}

#arrowleft,
#arrowright,
#arrowup,
#arrowdown {
  height: 40%;
  font-size: 1em;
}

#arrowleft,
#arrowright {
  align-self: end;
}

#arrowdown {
  position: absolute;
  top: 30px;
  right: 60px;
  left: calc(100% - 110px);
  height: 20px;
}

.light {
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  background-color: #2e2e2e;
}

.capslock_on .light {
  background-color: gold;
  box-shadow: 0px 0px 5px gold;
}
